
# Copy to Correct Folder -> sudo cp camera1.service /etc/systemd/system/
# Set Permissions -> sudo chmod 644 /etc/systemd/system/camera1.service
# Configure systemd:
#   sudo systemctl daemon-reload
#   sudo systemctl enable camera1.service


[Unit]
Description=Camera Server Startup
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/dummy-socket_server.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
