
# Copy to Correct Folder -> sudo cp ngrokvnc.service /etc/systemd/system/
# Set Permissions -> sudo chmod 644 /etc/systemd/system/ngrokvnc.service
# Configure systemd:
#   sudo systemctl daemon-reload
#   sudo systemctl enable ngrokvnc.service


[Unit]
Description=Camera Server Startup
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/ngrok tcp -config /home/pi/.ngrok2/ngrok.yml --region=us --remote-addr //!!!!!!!!!!!!!!!! COPY ENDING FROM FILE!!!!!!!!!!!!!
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
